*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}
nav{
  background-color: blue;
  width: clamp(200px, ,700px);
  height: 70px;
  box-shadow: 20px 10px 9px gray;
  
}
#portfolio{
color: antiquewhite;
position: absolute;
top: 15px;
font-size: 40px;


}
ul{
  color: rgb(243, 244, 244);
  list-style: none;
  position: absolute;
  right: 12px;
  top: 15px;
  margin-bottom: px;


}
li{
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  
}
header{
  background-image: url("/images/headerback.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
  z-index: 1;
  margin-top: 5px;
}

#text{
  width: clamp(300px, 20%, 700px);
  height: 200px;
  position: absolute;
  right: 60px;
  top: 200px;
  font-size: 20px;
  margin-bottom: 50px;
  
  
 

  z-index: +2;
  

}
#overlay{

 /* Sit on top of the page content */ /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(244, 19, 3, 0.5); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}
#bouton{
  border-radius: 20px;
  color: blanchedalmond;
  background-color: rgb(249, 22, 192);
} 
 


