html{
  box-sizing: border-box;
}
*, *::before,*::after {
  box-sizing: inherit;
  margin: 0%;
  padding: 0%;
}
.container-propriete{
 width: 100px;
 box-shadow: 10px 5px 9px gray;
  padding: 10px;
  margin: 5vw;
  border: solid black;
  margin-left: 50vw;
  transform: translateX(-50%);


}


.titre{
 text-align: center;
  color: blue;
}
.circle{
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 100%;
  padding: 20%;


}
.flex-box{
  border:solid 10px blue;
  display: flex;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}
.flex-item{
  margin: 2em;
  width: 300vh;
  height: 400px;
  background-color: crimson;

}
.pseudo{
  margin: 5rem auto;
  width: clamp(340px, 80%, 900px);
  height: 200px;
  background-color:mediumaquamarine ;
  transition-property: background;
  transition-duration: 4s;

}
.pseudo::before{

  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: mediumvioletred;
}
.pseudo:hover{
  border-radius: 50%;
  background-color:lightseagreen ;
}