#table{
align: center;
}
#connexion{
    border: solid;
}
.aboutme{
    color: ;
}
.image{
    width: auto;
    height: 200px;
    
}
#phrase{
    font-style: italic;
    text-decoration: underline;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    margin-top: 100px;
    padding-left: 80px;
}
#main{
    height: 400px;
    width: 400px;
    background: rgb(58, 4, 252);
    display: inline;
    font-size:50px;
 
}
#main1{
    height: 400px;
    width: 400px;
    background: blanchedalmond;
    display: inline;
    font-size:50px;
 
}
#main2{
    height: 400px;
    width: 400px;
    background: red;
    display: inline;
    font-size:50px;
}
.gfg {
    margin-left:20px;
    font-size:42px;
    font-weight:bold;
    color:#009900;
}
.geeks {
    font-size:25px;
    margin-left:30px;
}
.main {
    margin:50px;
}
  #li{
      color: blue;
  }  
  .devoir{
      text-transform: capitalize;
      text: border;
  }
  #table{
      border-style: solid;
  }